body {
	margin: 20px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.shadow {
	-moz-box-shadow:    0px 0px 5px 2px #ccc;
	-webkit-box-shadow: 0px 0px 5px 2px #ccc;
	box-shadow:         0px 0px 5px 2px #ccc;
}
.rounded-corners {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}